
.subscribe-button{
        background-color:rgb(201, 2, 2);
        color: white;
        border: none;
        height: 36px;
        width: 105px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 8px;
        transition: opacity 0.14s;
    }
    .subscribe-button:hover{
        opacity: 0.8;
         

    }
    .subscribe-button:active{
        opacity: 0.4;
    }

    .join-button{
        background-color:white;
        border-color:rgb(41, 118, 211);
        border-style: solid;
        border-width: 1px;
        color: rgb(41, 118, 211);
        height: 36px;
        width: 60px;
        border-radius: 2px;
        cursor: pointer;
        padding-right: 10px;
        transition: background-color 0.15s,
            color 0.15s;
    }
    .join-button:hover{
        background-color:rgb(41, 118, 211);
        color:white;
    
    }
    .join-button:active{
        opacity: 0.7;
    }




    .tweet{
        background-color: rgb(29, 161, 242);
        border-color:rgb(29, 161, 242);
        color: white;
        height: 36px;
        width: 74px;
        border-radius: 18px;
        border: none;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        margin-left: 8px;
        transition: box-shadow 0.15s;
        vertical-align: top;
        
       
    }
    .tweet:hover{
         box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    

    }