.title{
    font-family: Arial;
    font-weight: bolder;
    width: 350px;
    font-size: 20px;
    font-size:18px;
    line-height: 24px;
    margin-bottom: 5px;


  
}
.videoStats{
    font-family: Arial;
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0;

}

.channel{
    font-family: Arial;
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0;
}

.description{
    font-family: Arial;
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 300px;
    margin-bottom: 100px;
}
.apple-text{
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227,65,64);
    box-sizing: border-box;
    color: white;
    display: block;
    text-align: center;
    font-family: Arial;
    padding-top: 25px;
    padding-bottom: 25px;
}

.span{
    
   color: white;

}
.span:hover{
    text-decoration: underline;
    cursor: pointer;

}